# Ignore log and database
home-assistant.log
home-assistant_v2.db
.HA_VERSION
.ftpconfig

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
known_devices.yaml
secrets.yaml
service_account.json

# Ignore Development Files
custom_components/linak_dpg

# Ignore Sounds
www/sounds/